body {
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1.2s;
}


@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
} 

.navbar ul li {
    list-style: none;
    margin-right: 20px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a {
    color: #7cf03d;
}

.kata {
    height: 100vh;
    padding: 10%;
    justify-content: center;
    color: aliceblue;
    background-image: url(bg5.jpg);
    background-size: cover;
    font-size: 16px;
    font-weight: 6000;
}

p a {
    font-size: 16px;
    color: blue;
    font-weight: 600;
}

p a:hover {
    background: transparent;
    color: white;
    box-shadow: 1 2 10px white;
}

input {
    display: inline-block;
    padding: 10px 30px;
    background: yellow;
    border: 2px solid yellow;
    border-radius: 40px;
    box-shadow: 0 0 10px white;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
}

input:hover {
    background: transparent;
    color: white;
    border: 2px solid white;
    box-shadow: none;
}

